#progressBar-container {
    position: absolute;
    right: 0;
    width: 40%;
    height: 120px;
    border: 3px solid black;
    
}

#progressBar{

    
    position: relative;
    padding: 1rem;
    border: .2rem solid red;
    border-radius: 2px;
    margin-right: 0;
    margin-left: 0;
    color: #212529

}