body {
    background-color: tan;
    font-family: Viner Hand ITC;
    color: #BCED91;
    
}

#title{
    width: 100%;
    text-align: center;
    font-size: 40px;

}
#logincont{
    font-size: x-large;
    float: left;
    flex-direction: column;
    height: 200px;
    width: 300px;
    padding-right: 450px;
    align-content: center;
   
}

#ingredients{
    float: left;
    text-align: center;
    width: 1000px;
    overflow: hidden;
}

#pickingredients{
    font-size: larger;
   flex-direction: column;
   align-content: center;
   overflow: hidden;
   
    
}

.mealpick{
    flex-direction: column;
}


#loginbtn{
    background-color: #BCED91;

}

#create{
    background-color: #BCED91;
}