body {
    background-color: tan;
    
    color: #BCED91;
    
}
h1{
    font-family: Viner Hand ITC;
    color: #BCED91;
    -webkit-text-stroke: 1px rgb(80, 79, 79);
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
h3{
    font-family: Viner Hand ITC;
    color: #070707;
    
    
       
      
     
      

}
#favorites{
    color:red;
    font-size: larger;
   flex-direction: column;
   align-content: center;
   overflow: hidden;
   padding-left: 40px;

}
.heart-checkbox::before {
    content: "";
    display: block;
    position: relative;
    right: 25px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    background-color: white;
    transition: all .3s;
}
.heart-checkbox::after {
    content: "";
    display: block;
    position: relative;
    bottom: 25px;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    background-color: white;
    transition: all .3s;
}

.heart-checkbox.checked{
    background-color: red;
}
.heart-checkbox.checked::before{
    background-color: red;
}
.heart-checkbox.checked::after{
    background-color: red;
}


.heart-checkbox{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    transform: rotate(135deg);
    transition: all .3s;
}


#title{
    margin-top: 50px;
    height: 150px;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    font-family: Viner Hand ITC;
    color: #BCED91;
    -webkit-text-stroke: 1px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
#main{
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
}
#login{
    
    font-size: x-large;
    margin-right: 10px;
    flex-direction: row;
    display:flex;
    flex-wrap: wrap;
    height: 200px;
    width: 18%;
   
    align-content: center;
    
   
}

#ingredients{
   margin-left: 10px;
    text-align: center;
    width: 60%;
    overflow: hidden;
}

#pickingredients{
    font-size: larger;
   flex-direction: column;
   align-content: center;
   overflow: hidden;
   
    
}
#ingredientrender{
    margin-top: 20px;
}

.mealpick{
    text-align: center;
    flex-direction: column;
    display:flex;
    flex-wrap: wrap;
}


#loginbtn{
    text-align: center;
    margin-right: 10px;
    background-color: #BCED91;

}
#saverecipe{
    background-color: #BCED91;
}
#logout{
    background-color: #BCED91;
}
#create{
    background-color: #BCED91;
}
#searchrecipe{
    background-color: #BCED91;
}
#intolerance{
    color: #000;
  
}

#nutrients{
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
#box{
    margin-right: 10px;
    margin-left: 5px;
}
#options{
   
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;

}
.content{
    
    color: #000;
}
#progressBar-container {
    
   
    
}

#progressBar{

    
    position: relative;
    padding: 1rem;
   
    border-radius: 2px;
    margin-right: 0;
    margin-left: 0;
    color: #212529

}